body {
  background-color: white;
}

a {
  text-decoration: none;
}

.colorboton {
  color: black;
}

#logo {
  margin-left: 10px;
}

.letras {
  font-size: 20px;
}

.secciones {
  margin-top: 15px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.secciones ul a {
  list-style-type: none;
}

h2 {
  color: black;
  text-align: center;
  font-style: italic;
  margin-top: 1rem;
}

.estiloFooter {
  background-color: orange;
  margin-top: 10px;
}

#consejosImg {
  display: block;
  margin: auto;
}

.boton-personalizado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: black;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #ffd000;
}

.cajaSecciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10px;
}

.imgSecciones {
  margin-top: 25px;
  border: 1px black solid;
}

h4 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 35px;
}

.formContacto {
  width: 380px;
  background-color: white;
  padding: 25px;
  margin: auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px black solid;
  border-radius: 7px;
  color: black;
}

.formContacto .controles {
  width: 90%;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 10px;
  border: 2px orange solid;
}

.formContacto textarea {
  min-height: 100px;
  max-height: 300px;
}

.formContacto .botonEnviar {
  width: 100%;
  background-color: orange;
  color: white;
  margin-top: 10px;
  border: 2px black solid;
  border-radius: 3px;
  padding: 10px;
  margin: 10px 0;
}

.formContacto .botonEnviar:hover {
  color: navy;
}

.alineacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-widht: 992px) {
  body header .letras2 {
    font-size: 25px;
  }
  body header #logo {
    display: block;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main .letras {
    font-size: 30px;
  }
  body main #consejosImg {
    width: 50px;
    height: 150px;
  }
}

@media (max-widht: 768px) {
  body header .letras2 {
    font-size: 50px;
  }
  body header #logo {
    display: block;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body header main .letras {
    font-size: 35px;
  }
  body header main #consejosImg {
    width: 50px;
    height: 150px;
  }
  body header main form {
    width: 80px;
  }
}

@media (max-widht: 576px) {
  body header .letras2 {
    font-size: 25px;
  }
  body header #logo {
    display: block;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main .letras {
    font-size: 20px;
  }
  body main #consejosImg {
    width: 50px;
    height: 150px;
  }
  body main form {
    width: 40px;
  }
}
/*# sourceMappingURL=estilo.css.map */