@import "mixin";

body{
    background-color: white;
}
a{
    text-decoration: none;
}
.colorboton{
    color: $colorblack;
}
#logo{
    margin-left: 10px;}

.letras {
    font-size: 20px;
}
.secciones{
    margin-top: 15px;
    text-decoration: none;
    color: $colorblack;
    font-weight: 500;
    ul a{
        list-style-type: none;
    }
}

h2{
    @include letra();
}
.estiloFooter{
    background-color:$colororange;
    margin-top: 10px;
    }
#consejosImg{
    display: block;
    margin:auto;
}
.boton-personalizado{
    @include boton-personalizado();
}
.cajaSecciones{
    @include cajas();
}
.imgSecciones{
    margin-top: 25px;
    border: 1px $colorblack solid;
}
h4{
    margin-bottom: 20px;
    text-align: center;
    font-size: 35px;
}
.formContacto{
    @include formulario();
    .controles{
        @include controles()
    }
    textarea{
        min-height: 100px;
        max-height: 300px;
    }
    .botonEnviar{
        @include boton-enviar()
    }
    .botonEnviar:hover{
        color:navy}
}
.alineacion{
display: flex;
justify-content: center;
}

@media (max-widht: 992px){
    body{
        header{
            .letras2{
                font-size: 25px;
            }
            #logo{
                display: block;
                margin: auto;
                justify-content: center;
            }
        }
        main{
            .letras{
                font-size: 30px;
            }
            #consejosImg{
                width: 50px;
                height: 150px;
            }
        }
    }
}

@media (max-widht: 768px){
    body{
        header{
            .letras2{
                font-size: 50px;
            }
            #logo{
                display: block;
                margin: auto;
                justify-content: center;
            }
        main{
            .letras{
                font-size: 35px;
            }
            #consejosImg{
                width: 50px;
                height: 150px;
            }
            form {
                width: 80px;
                }
            }
        }
    }
}

@media (max-widht: 576px){
    body{
        header{
            .letras2{
                font-size: 25px;
            }
            #logo{
                display: block;
                margin: auto;
                justify-content: center;
            }
        }
        main{
            .letras{
            font-size: 20px;
            }
            #consejosImg{
                width: 50px;
                height: 150px;
            }
            form{
                width:40px;
            }
        }
    }
}

